/* 
    Document   : themensammlung
    Created on : 13.07.2011, 08:54:17
    Author     : tiloziegler
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#themensammlung .app-box{float:left;width:100%;margin-bottom:15px;display:inline-block;zoom:1}
#themensammlung .app-box-header{background:transparent url(../images/app-box-header.png) no-repeat 0 0;height:30px;position:relative;margin:0 10px 10px 0;padding:0 0 0 10px}
#themensammlung .app-box-header .app-box-header{background-position:100% 0;margin-right:-10px;padding:0 10px 0 0}
#themensammlung .app-box-header.no-background,#community-wrap .app-box-header.no-background .app-box-header{background:none;padding:0}
#themensammlung .app-box-title{color:#4E6221;font-weight:700;font-size:12px;line-height:30px;background:none;text-shadow:none;border:none;margin:0;padding:0}
#themensammlung .app-box-menus{position:absolute;top:0;right:0;margin:7px}
#themensammlung .app-box-menu{float:right;cursor:pointer;margin-left:5px}
#themensammlung .app-box-menu-title{display:block;text-indent:-9999px}
#themensammlung .app-box-menu-icon,
#themensammlung .app-box-menu-icon:focus,
#themensammlung .app-box-menu-icon:hover{background-color: transparent; outline:none; background-image:url(../images/app-box-menu-icon.png);background-repeat:no-repeat;height:16px;width:16px;line-height:0;display:block}

#themensammlung .app-box-menu.options .app-box-menu-icon{background-position:0 0}


.category-children{
    display: inline-block;
    float: left;
    margin-bottom: 15px;
    width: 100%;
}

.category-children .title{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #4E6221;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    margin: 0;
    padding: 0;
    text-shadow: none;
}

.category-children .header{
    background: url("../images/app-box-header.png") no-repeat scroll 0 0 transparent;
    height: 30px;
    margin: 0 10px 10px 0;
    padding: 0 0 0 10px;
    position: relative;
}

.category-children .header .header{
    background-position: 100% 0;
    margin-right: -10px;
    padding: 0 10px 0 0;
}

