/* 
    Document   : themensammlung
    Created on : 13.07.2011, 08:54:17
    Author     : tiloziegler
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
.icon-48-themensammlung-categories.icon-48-categories {
	background-image: url(../../images/administrator/icon-48-themensammlung-category.png);
}

.icon-48-themensammlung-category-edit.icon-48-category-edit {
	background-image: url(../../images/administrator/icon-48-themensammlung-category-edit.png);
}

.icon-48-themensammlung-category-add.icon-48-category-add {
	background-image: url(../../images/administrator/icon-48-themensammlung-category-new.png);
}

#pdftext, #linktext{
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#pdftext.success, #linktext.success{
    border: 1px solid green;
    background-color: greenyellow;
    font-weight: bold;
    color: green;
}

#pdftext.error, #linktext.error{
    border: 1px solid red;
    background-color: #ffcccc;
    font-weight: bold;
    color: red;
}
